.borda {
    border: 2px solid blue;
}

#external-events {
    padding: 10px;
}

#external-events h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

#external-events-list {
    max-height: 500px;
    overflow-y: auto;
    padding-right: 5px; /* Para evitar que a rolagem sobreponha os eventos */
}

#external-events-list .fc-event {
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    cursor: grab;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin-bottom: 10px;
}

#external-events-list .fc-event:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.15);
}

/* #calendar {
    max-width: 1000px;
    margin: 0 auto;
} */

#tools-content {
    display: none;
    /* Oculta o conteúdo por padrão */
}

#tools-panel.expanded #tools-content {
    display: block;
    /* Mostra o conteúdo quando expandido */
}

.toggle-offcanvas {
    position: fixed;
    width: 50px;
    height: 100px;
    top: 50%;
    right: 0;
    z-index: 9999;
    transform: translateY(-50%);
}

.fc-event-title {
    /* white-space: normal !important; */
    /* Permite quebras de linha */
    word-wrap: break-word;
    /* Quebra palavras longas */
    /* font-size: 1.9em; */
    font-size: clamp(10px, 1vw, 30px);
    /* Ajusta entre 10px e 16px conforme a largura da tela */
    overflow: hidden;
    /* Esconde texto extra */
    text-overflow: ellipsis;
    /* Adiciona "..." se necessário */
}

.fc-event-main {

    text-align: center;
    /* white-space: normal !important; */
    /* Permite quebras de linha */
    word-wrap: break-word;
    /* Quebra palavras longas */
    /* font-size: 1.9em; */
    font-weight: bold;
    font-size: clamp(10px, 1vw, 30px);
    /* Ajusta entre 10px e 16px conforme a largura da tela */
    overflow: hidden;
    /* Esconde texto extra */
    text-overflow: ellipsis;
    /* Adiciona "..." se necessário */
}